<div class="row">
    <div class="col s6 offset-s3">
        <div class="row">
            <div class="col s6 offset-s3">
                <h4 class="center-align">Please Login</h4>
            </div>
        </div>
        <div class="row valign-wrapper">
            <div class="col s1 offset-s3">
                <div ng-show="isAuthenticating" class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <div ng-show="isLoginError">
                    <span><i class="material-icons">report_problem</i></span>
                </div>
            </div>
            <div class="col s6">
                <a ng-click="authenticate('google')" class="waves-effect waves-light btn">
                    <span>Google</span>
                </a>
            </div>
        </div>
    </div>
</div>

